/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --background-image: url(../images/cover-image-dark.png);
  --accent-color: #FF0070;
  --h1-color: #DB00FF;
  --h2-color: #FF0070;
  --bg-color: #000028;
  --text-color: #F1B2CE;
  --title-color: #000028;
  --button-color: #FF0070;
  --button-hover: rgba(255, 0, 112, 0.4);
  --main-color: #000028;
}

